<ion-header>
  <ion-toolbar>
    <ion-title>Mis Turnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list-header>
  <!-- <ion-label>Mis Turnos</ion-label>   -->
</ion-list-header>
<ion-list *ngIf='myapp.length > 0'>
  <ion-card *ngFor="let item of myapp"> 
    <ion-card-header>
     <ion-card-title>Mi Turno</ion-card-title>
      <ion-card-subtitle><ion-item>
       <ion-label>Fecha:</ion-label>
       <ion-datetime display-format="DD.MM.YYYY HH:mm" value="{{item.date}}"></ion-datetime>
     </ion-item> <ion-item>
       <ion-label>Me voy a hacer : {{item.services}}</ion-label>
     </ion-item></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    <ion-button (click)="cardClick(item.appId)" expand="block" fill="solid" color="danger" shape="round">Borrar Turno</ion-button>
      <ion-card button (click)="cardClick(item.appId)"></ion-card>
    </ion-card-content>    
          
 </ion-card>
</ion-list>

<ion-button (click)="onClick()" expand="block" fill="solid" color="success" shape="round">
  Solicitar un Turno
</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Inicio
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" >
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>