<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PyA Salon Unisex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-slides pager="false" [options]="slideOptsOne">
      <ion-slide>
        <img src="../../assets/img/1.jpeg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/2.jpeg" alt="">
      </ion-slide>
    </ion-slides>
    <ion-button 
         type="submit" 
         color="danger"
         (click)="onLogin()" 
         expand="block">
           Login with Google
        </ion-button>

        <ion-item>
          <ion-label>
            <ion-avatar slot="left">
              <img [src]="userdata.photoURL" /> 
            </ion-avatar>
            {{ userdata.displayName }}
            <h3>{{ userdata.email }}</h3>
          </ion-label>
        </ion-item>
</ion-content>
