<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      PyA Salon Unisex
    </ion-title>
        <ion-chip color="primary">
          <ion-avatar>
            <img [src]="userdata.photoURL" />
          </ion-avatar>
          <ion-label>{{ userdata.displayName }}</ion-label>
        </ion-chip>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
    <ion-slides pager="false" [options]="slideOptsOne">
      <ion-slide>
        <img src="../../assets/img/1.jpeg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img/2.jpeg" alt="">
      </ion-slide>
    </ion-slides> 
    <ion-button 
  type="submit" 
  color="success"
  (click)="onClick()" 
  expand="block">
    Mis Turnos
 </ion-button>       
</ion-content>
