<ion-header>
  <ion-toolbar>
    <ion-title>Servicios Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor='let service of listServices; let i = index'>
     <ion-label>Hair Color</ion-label>
    <ion-select  placeholder = 'Elige lo que te quieres hacer' okText="Okay" cancelText="Dismiss" (ionChange)='onChange($event)'>
      <ion-select-option *ngFor='let serv of services' [value] = 'serv.id'>{{serv.name}}</ion-select-option>      
    </ion-select>
    <button ion-button clear (click)="deleteService(i)">
      <ion-icon name="trash"></ion-icon>
    </button>
    </ion-item>
  </ion-list> -->
  <ion-item>
    <ion-label>Elige</ion-label>
    <ion-select multiple="true" placeholder="Elige lo que te quieres hacer" (ionChange)='onChange($event)'>
      <ion-select-option *ngFor="let serv of services" [value]="serv.id">{{serv.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-button *ngIf='index != 5' (click)="addService()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button *ngIf='index != 5' (click)="addService()">
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button> -->
  <ion-label *ngIf='tempDuration > 0'>{{tempDuration}}</ion-label>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Inicio
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()" >
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>